/* 
//Text
#2f2e41
#192B4D

//Board Page Color Palette ----->
Nav: #02549a
Board: #2d70bf
List Canvas: #EBECF0
Modal: #F4F5F7

PANTONE Color of the Year 2021 
AVIARY PALETTE:
#A4A4A7 - Ultimate Gray
#F7E562 - Illuminating

#D35C78 - Fruit Dove 
#059EB2 - Peacock Blue
#02549A - Skydiver

#04AB83 - Green C
*/

/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  background: #192b4d;
  display: flex;
  height: 100%;
  white-space: wrap;
  flex-direction: column;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-weight: bold;
}

.nav-bg {
  background: rgba(0, 0, 0, 0.32);
}

.board-logo {
  font-family: Pacifico;
}

.user-name {
  font-weight: bold;
}

.user-drop-item {
  color: #192b4d;
}

.user-drop-item:hover {
  background: #a4a4a7;
  color: white;
  font-weight: bold;
}

.user-drop {
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
  min-width: 8px;
}

@media (min-width: 576px) {
  .position-sm-rel {
    position: relative !important;
  }
}

/* Task Board */
.board-canvas {
  /* Ignore nav bar & stay under it */
  position: absolute;
  z-index: -1;
  flex-grow: 1;
  white-space: nowrap;
  height: 100%;
  padding: 55px 7px 10px 7px;
  overflow-x: auto;
  overflow-y: auto;
  /* background: linear-gradient(to bottom, #2d70bf, #02549a); */
  background-image: url("../images/boardbg.jpg");
  background-position: 50%;
  background-size: cover;
}

.board-canvas p {
  font-size: 1rem;
  margin: 0;
}

.list-title {
  font-weight: bold;
  font-size: 1rem;
  color: #192b4d;
}

.list-title-pointer {
  cursor: pointer;
}

.fa-plus-custom {
  font-size: 1.1rem;
  padding: 0 0.1rem 0.5rem 0.5rem;
}

.list-wrapper {
  width: 272px;
  margin: 3px;
  height: 90%;
  display: inline-block;
  white-space: nowrap;
}

@media only screen and (max-width: 576px) {
  .board-canvas {
    scroll-snap-type: x mandatory;
  }

  .list-wrapper {
    width: 340px;
    scroll-snap-align: center;
  }
}

.list-canvas-style {
  background: #ebecf0;
  white-space: normal;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
}

.add-list-title {
  font-size: 1rem;
  color: white;
  text-align: center;
  cursor: pointer;
}

.add-list-title:hover {
  font-weight: 600;
}

.add-list-section-style {
  background: rgba(0, 0, 0, 0.32);
  white-space: normal;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
}

.add-list-btn-style {
  background: #02549a;
  color: white;
  font-weight: bold;
}

.add-list-btn-style:hover {
  background: hsl(208, 97%, 36%);
  color: white;
}

.add-list textarea:focus {
  border-color: #02549a !important;
  box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
  outline: 0 none !important;
}

.add-list-title-icon {
  pointer-events: none;
}

.add-task {
  color: #192b4d;
  cursor: pointer;
}

.add-task:hover {
  color: #059eb2;
}

.task-card-canvas {
  display: flex;
  flex-direction: column;
}

.list-menu-click {
  pointer-events: auto;
}

.list-menu-click:hover {
  background: hsl(220, 16%, 91%);
  border-radius: 3px;
  font-weight: bold;
}

.list-menu-drop-item {
  color: #192b4d;
  cursor: default;
}

.list-menu-drop-item:hover {
  background: #a4a4a7;
  color: white;
  font-weight: bold;
}

.list-menu-drop-item.list-order-label {
  color: #192b4d;
  font-weight: bold;
}

.list-menu-drop-item.list-order-label:hover {
  background: none;
}

.list-menu-drop-item.list-delete {
  color: hsl(357, 91%, 59%);
  font-weight: bold;
}

.list-menu-drop-item.list-delete:hover {
  background: #f74f57;
  color: white;
  font-weight: bold;
}

.list-menu-drop {
  font-size: 0.85rem;
  background: #f4f5f7;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
}

.list-menu-drop-toggle::after {
  display: none;
}

/* Task Card */
.task-card-style .card {
  background: white;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
}

.task-card .card-body {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.task-card-title {
  margin-bottom: 0.3rem;
}

.task-card h6 {
  color: #192b4d;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
}

.task-card p {
  color: #192b4d;
  font-size: 0.85rem;
  margin: 0;
}

.task-card-desc p {
  margin-bottom: 0.3rem;
}

.task-card i {
  padding: 0;
}

.task-card .task-card-item {
  margin-left: 8px;
}

.task-card .dropdown-divider {
  margin: 0 0 0.1rem 0;
  border-color: #f4f5f7;
}

#divider-status {
  margin: 0;
  border-color: hsl(220, 16%, 91%);
}

.task-card-tag {
  width: 140px;
  border: 4px solid;
  border-radius: 3px;
  margin-bottom: 0.3rem;
}

.card-member-img {
  width: 22px;
}

.drop-loc {
  height: 8px;
}

.task-card-draggable {
  cursor: pointer;
}

textarea:focus,
input:focus,
select:focus {
  border-color: #059eb2 !important;
  box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
  outline: 0 none !important;
}

/* Remove pointer events for child elements */
.card-body-pointer-e {
  pointer-events: none;
}

.task-card-edit-toggle:hover {
  background: #f4f5f7;
  border-radius: 3px;
}

/* Task Card Status Dropdown */
/* Enable pointer event for on-card status change */
.task-card-status-click {
  pointer-events: auto;
}

.task-card-drop-toggle {
  cursor: default;
}

.task-card-status-click:hover {
  background: hsl(220, 16%, 91%);
  border-radius: 3px;
  font-weight: bold;
}

.task-card-drop-item {
  color: #192b4d;
  cursor: default;
}

.task-card-drop-item:hover {
  background: #a4a4a7;
  color: white;
  font-weight: bold;
}

.task-card-drop {
  font-size: 0.85rem;
  background: #f4f5f7;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
}

.dropdown-toggle::after {
  vertical-align: 0.12em;
}

/* Modal Form */
.modal-style {
  background: #f4f5f7;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
}

.modal-icons {
  background: #f4f5f7;
}

.current-task-title {
  height: 38px;
  padding: 8px;
}

.current-task-title h5 {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

.current-task-desc {
  height: 134px;
  padding: 8px;
  overflow-y: auto;
}

.current-task-desc p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.update-task-btn-style {
  background: #059eb2;
  color: white;
  font-weight: bold;
}

.update-task-btn-style:hover {
  background: hsl(187, 95%, 41%);
  color: white;
}

.cancel-task-btn-style {
  background: #a4a4a7;
  color: white;
  font-weight: bold;
}

.cancel-task-btn-style:hover {
  background: hsl(240, 2%, 60%);
  color: white;
}

.delete-task-btn {
  background: #f74f57;
  border: none;
  color: white;
  font-weight: bold;
}

.delete-task-btn:hover {
  background: hsl(357, 91%, 59%);
  color: white;
}

.modal-body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.text-area {
  resize: none;
}

.modal-body .form-group {
  margin: 0;
}

.modal-body .input-group {
  padding: 0.5rem;
}

.fa-calendar-check {
  padding: 0 1px;
}

.close:hover,
.close:focus,
.close:active,
.close:active:focus:not(:disabled):not(.disabled),
.close:focus,
.close:active,
.close:hover {
  box-shadow: none !important;
  outline: 0;
}

/* Modal Form - Checklist */
#new-task-checklist {
  width: 105%;
}

.checkbox-container {
  margin: 1rem 0rem;
}

.form-check {
  list-style: none;
  margin: 1rem;
  position: relative;
}

.checkbox-container span {
  position: absolute;
  right: -100rem;
  cursor: pointer;
  overflow: hidden;
}

.checkbox-container:hover span {
  right: 0.2rem;
}

.todoList li .i {
  padding: 2rem;
}

.inputField button {
  background: #fff;
  opacity: 0.6;
  pointer-events: none;
  border-color: rgb(148, 147, 147);
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}
