/* 
//Landing Page Color Palette ----->
#fffcf9
#FFF6ED
#EDD8C4
#A18A75
#EBEDED
#5290A1 
#2f2e41

//Board Page Color Palette ----->
List Canvas: #EBECF0
Modal: #F4F5F7

PANTONE Color of the Year 2021 
AVIARY PALETTE:
#F0EDE9 - Cloud Dancer
#A4A4A7 - Ultimate Gray
#F7E562 - Illuminating

#D35C78 - Fruit Dove 
#059EB2 - Peacock Blue
#02549A - Skydiver
*/

/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  background: #fff6ed;
  display: flex;
  height: 100%;
  white-space: wrap;
  flex-direction: column;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-weight: bold;
}

.nav-bg {
  background: #a18a75;
}

.landing-logo {
  font-size: 2rem;
  font-family: Pacifico;
}

.board-logo {
  font-family: Pacifico;
}

.btn-login,
.btn-signup {
  font-weight: bold;
}

.btn-login {
  background: #a18a75;
}

.btn-login:hover {
  background: white;
  color: #a18a75;
}

.btn-login:focus {
  background: white;
  color: #a18a75;
}

.btn-signup:hover {
  color: #a18a75;
}

.user-name {
  font-weight: bold;
}

.user-drop-item {
  color: #2f2e41;
}

.user-drop-item:hover {
  background: #a18a75;
  color: #fffcf9;
  font-weight: bold;
}

.user-drop {
  background: #fffcf9;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
}

@media (min-width: 576px) {
  .position-sm-rel {
    position: relative !important;
  }
}

/* Banner */

.jumbotron {
  background: #fff6ed;
  color: #2f2e41;
}

.banner-img {
  background: url(/images/banner-img.svg);
}

.banner p {
  margin: 1rem 0 2.5rem;
}

.banner h2 {
  margin: 0;
  font-size: 2.5rem;
}

/* CTA Bar */
.ctaBar {
  background: #fff6ed;
}

.cta-button {
  background: rgb(82, 145, 163);
  font-weight: bold;
  color: white;
}

.cta-button:hover {
  background: #2f2e41;
  color: white;
}

.cta-button:active,
.cta-button:focus {
  box-shadow: 0 3px 0 0 #2f2e41;
}

.cta-form {
  border-color: #5290a1;
}

.cta-form:focus {
  box-shadow: 0 3px 0 0 #5290a1;
  border-color: #5290a1;
}

/* Features */
.features {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #2f2e41;
}

.features p {
  margin-top: 1rem;
}

.feature1 {
  background: #edd8c4;
}

.feature2 {
  background: #fffcf9;
}

.feature3 {
  background: #fff6ed;
}
