/* 
//Text
#2f2e41

//Board Page Color Palette ----->
List Canvas: #EBECF0
Modal: #F4F5F7

PANTONE Color of the Year 2021 
AVIARY PALETTE:
#F0EDE9 - Cloud Dancer
#A4A4A7 - Ultimate Gray
#F7E562 - Illuminating

#D35C78 - Fruit Dove 
#059EB2 - Peacock Blue
#02549A - Skydiver
*/

/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  background: #02549a;
  display: flex;
  height: 100%;
  white-space: wrap;
  flex-direction: column;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 2.9rem;
  font-weight: bold;
}

.nav-bg {
  background: #02549a;
}

.landing-logo {
  font-size: 2rem;
  font-family: Pacifico;
}

.board-logo {
  font-family: Pacifico;
}

.btn-login,
.btn-signup {
  font-weight: bold;
}

.btn-login {
  background: #02549a;
  color: white;
}

.btn-login:hover {
  background: white;
  color: #02549a;
  outline: 0 !important;
  box-shadow: none;
}

.btn-login:focus,
.btn-login:active {
  background: white;
  color: #02549a;
  outline: 0 !important;
  box-shadow: none;
}

.btn-signup {
  background: #02549a;
  color: white;
  border: 2px solid;
  border-color: #ffffff;
}

.btn-signup:hover {
  background: white;
  color: #02549a;
  outline: 0 !important;
  box-shadow: none;
}

.btn-signup:focus,
.btn-signup:active {
  background: white;
  color: #02549a;
  outline: 0 !important;
  box-shadow: none;
}

@media (min-width: 576px) {
  .position-sm-rel {
    position: relative !important;
  }
}

/* Banner */

.jumbotron {
  background: #02549a;
  color: white;
}

.banner-img {
  background: url(/images/banner-img.svg);
}

.banner p {
  margin: 1rem 0 2.5rem;
}

.banner h2 {
  margin: 0;
  font-size: 2.5rem;
}

/* CTA Bar */
.ctaBar {
  background: #02549a;
}

.cta-button {
  background: #059eb2;
  font-weight: bold;
  color: white;
}

.cta-button:hover {
  background: #2f2e41;
  color: white;
}

.cta-button:active,
.cta-button:focus {
  box-shadow: 0 3px 0 0 #2f2e41;
}

.cta-form {
  border-color: white;
}

.cta-form:focus {
  box-shadow: 0 3px 0 0 #059eb2;
  border-color: #059eb2;
}

/* Features */

.container-features {
  height: 350px;
}
.features {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #2f2e41;
}

.features p {
  margin-top: 1rem;
}

.feature1 {
  background: white;
}

.feature2 {
  background: #ebecf0;
}

.feature3 {
  background: white;
}
