@import "~bootstrap/scss/bootstrap";
/* 
//Text
#2f2e41
#192B4D

//Board Page Color Palette ----->
List Canvas: #EBECF0
Modal: #F4F5F7

PANTONE Color of the Year 2021 
AVIARY PALETTE:
#F0EDE9 - Cloud Dancer
#A4A4A7 - Ultimate Gray
#F7E562 - Illuminating

#D35C78 - Fruit Dove 
#059EB2 - Peacock Blue
#02549A - Skydiver
*/

/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  background: linear-gradient(150deg, rgb(0, 121, 190), rgb(177, 0, 177));
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

p {
  font-size: 1.2rem;
}

.protect-img {
  pointer-events: none;
}

/* Navigation Bar */
.nav-bg {
  background: transparent;
}

.landing-logo {
  font-size: 2rem;
  font-family: Pacifico;
}

.board-logo {
  font-family: Pacifico;
}

.btn-login,
.btn-signup {
  font-weight: bold;
}

.btn-login {
  background: transparent;
  color: white;
}

.btn-login:hover {
  background: white;
  color: #02549a;
  outline: 0 !important;
  box-shadow: none;
}

.btn-login:focus,
.btn-login:active {
  background: white;
  color: #02549a;
  outline: 0 !important;
  box-shadow: none;
}

.btn-signup {
  background: transparent;
  color: white;
  border: 2px solid;
  border-color: #ffffff;
}

.btn-signup:hover {
  background: white;
  color: #02549a;
  outline: 0 !important;
  box-shadow: none;
}

.btn-signup:focus,
.btn-signup:active {
  background: white;
  color: #02549a;
  outline: 0 !important;
  box-shadow: none;
}

/* Banner */
.jumbotron {
  background: transparent;
  color: white;
}

.chrome-sticky-gap-fix {
  padding: 1px;
}

.banner h1 {
  font-size: 2.6rem;
  font-weight: bold;
}

/* CTA Bar */
.ctaBar {
  /* Set intersectionRatio < 1 by offsetting top by -1px*/
  top: -1px;
  padding: 1rem;
  background: transparent;
  transition: 2s;
  margin-bottom: 7vh;
}

.ctaBar.isSticky {
  background: #02549a;
}

.cta-button {
  background: #059eb2;
  font-weight: bold;
  color: white;
}

.cta-button:hover {
  background: #192b4d;
  color: white;
}

.cta-button:active,
.cta-button:focus {
  box-shadow: 0 3px 0 0 #192b4d;
}

.cta-form {
  border-color: white;
}

.cta-form:focus {
  box-shadow: 0 3px 0 0 #059eb2;
  border-color: #059eb2;
}

/* Features */
.features {
  padding-top: 3.7rem;
  padding-bottom: 2.2rem;
  color: #192b4d;
}

.features h2 {
  margin: 0;
}

.features p {
  margin: 2rem 0 0 0;
}

.feature1 {
  background: white;
}

.feature2 {
  background: #ebecf0;
}

.feature3 {
  background: white;
}
