/* Color Palette
#fffcf9
#FFF6ED
#EDD8C4
#A18A75
#EBEDED
#5290A1 
#2f2e41*/

/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  background: #fff6ed;
  display: flex;
  height: 100%;
  white-space: wrap;
  flex-direction: column;
  /* overflow-x: hidden; */
}

p {
  font-size: 1.2rem;
}

h2 {
  font-weight: bold;
}

/* Navigation */
/* .navigation {
  width: 100vw;
} */

.nav-bg {
  background: #a18a75;
}

.landing-logo {
  font-size: 2rem;
  font-family: Pacifico;
}

.board-logo {
  font-family: Pacifico;
}

.btn-login,
.btn-signup {
  font-weight: bold;
}

.btn-login {
  background: #a18a75;
}

.btn-login:hover {
  background: white;
  color: #a18a75;
}

.btn-login:focus {
  background: white;
  color: #a18a75;
}

.btn-signup:hover {
  color: #a18a75;
}

.user-name {
  font-weight: bold;
}

.user-drop-item {
  color: #2f2e41;
}

.user-drop-item:hover {
  background: #a18a75;
  color: #fffcf9;
  font-weight: bold;
}

.user-drop {
  background: #fffcf9;
  border-color: #5290a1;
}

@media (min-width: 576px) {
  .position-sm-rel {
    position: relative !important;
  }
}

/* Banner */

.jumbotron {
  background: #fff6ed;
  color: #2f2e41;
}

.banner-img {
  background: url(/images/banner-img.svg);
}

.banner p {
  margin: 1rem 0 2.5rem;
}

.banner h2 {
  margin: 0;
  font-size: 2.5rem;
}

/* CTA Bar */
.ctaBar {
  background: #fff6ed;
}

.cta-button {
  background: rgb(82, 145, 163);
  font-weight: bold;
  color: white;
}

.cta-button:hover {
  background: #2f2e41;
  color: white;
}

.cta-button:active,
.cta-button:focus {
  box-shadow: 0 3px 0 0 #2f2e41;
}

.cta-form {
  border-color: #5290a1;
}

.cta-form:focus {
  box-shadow: 0 3px 0 0 #5290a1;
  border-color: #5290a1;
}

/* Board Menu */
/* .menu-bg {
  background: #fff6ed;
}

.menu-item {
  color: #2f2e41 !important;
  font-weight: bold;
} */

/* Features */
.features {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #2f2e41;
}

.features p {
  margin-top: 1rem;
}

.feature1 {
  background: #edd8c4;
}

.feature2 {
  background: #fffcf9;
}

.feature3 {
  background: #fff6ed;
}

/* Task Board */
.board-canvas {
  position: relative;
  flex-grow: 1;
  white-space: nowrap;
  margin: 0;
  padding: 10px;
  /* overflow-x: auto; */
  /* overflow-y: hidden; */
}

.board-canvas p {
  font-size: 1rem;
  margin: 0;
}

/* Task List */

.list-title {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #a18a75;
}

.list-wrapper {
  width: 240px;
  margin: 10px;
  height: 100%;
  display: inline-block;
  /* vertical-align: top; */
  white-space: nowrap;
}

.list-canvas {
  background: #edd8c4;
  /* max-height: 100%; */
  white-space: normal;
}

.add-task {
  color: #a18a75;
  cursor: pointer;
}

.add-task:hover {
  color: #5290a1;
}

/* Task Card */
.task-card .card {
  background: #fffcf9;
  border-color: #a18a75;
}

.task-card h6 {
  color: #2f2e41;
  font-weight: bold;
  font-size: 1.05rem;
}

.task-card p {
  color: #2f2e41;
  font-size: 0.85rem;
  margin: 0;
}

.task-card .task-card-item {
  margin-left: 8px;
}

.task-card .dropdown-divider {
  margin: 0.3rem;
}

.card-member-img {
  width: 25px;
}

.drop-loc {
  height: 10px;
}

/* Task Card Status Dropdown */
.task-card-drop {
  background: #fffcf9;
  border-color: #5290a1;
  transform: none !important;
  width: 222px;
  margin-top: 27px;
  margin-left: -190px;
}

.task-card-drop-item {
  color: #2f2e41;
  font-size: 0.85rem;
}

.task-card-drop-item:hover {
  background: #a18a75;
  color: #fffcf9;
  font-weight: bold;
}

.task-card-drop-toggle:after {
  position: absolute;
  display: inline-block;
  content: "";
  margin-top: -20px;
  margin-left: -188px;
  z-index: 1;
  width: 220px;
  height: 35px;
  background: transparent;
  border-color: transparent;
}

/* Modal Form */
.modal-backdrop {
  background-color: #a18a75;
}

.modal-style {
  background: #fffcf9;
  border-color: #a18a75;
}

.add-task-btn {
  background: #5290a1;
  color: white;
  font-weight: bold;
}

.add-task-btn:hover {
  background: hsl(193, 33%, 40%);
  color: white;
}

.modal-body {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
}

.modal-body textarea {
  resize: none;
}

.modal-body .form-group {
  margin: 0;
}

.modal-body .form-margin {
  margin: 1rem 0;
}

/* Modal Form - Checklist */
#new-task-checklist {
  width: 105%;
}

.checkbox-container {
  margin: 1rem 0rem;
}

.form-check {
  list-style: none;
  margin: 1rem;
  position: relative;
}

.checkbox-container span {
  position: absolute;
  right: -100rem;
  cursor: pointer;
  overflow: hidden;
}

.checkbox-container:hover span {
  right: 0.2rem;
}

.todoList li .i {
  padding: 2rem;
}

.inputField button {
  background: #fff;
  opacity: 0.6;
  pointer-events: none;
  border-color: rgb(148, 147, 147);
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}
