/* Color Palette
#fffcf9
#FFF6ED
#EDD8C4
#A18A75
#EBEDED
#5290A1 
#2f2e41*/

/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  background: #fff6ed;
  display: flex;
  height: 100vh;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-weight: bold;
}

/* Navigation */
.nav-bg {
  background: #a18a75;
}

.landing-logo {
  font-size: 2rem;
  font-family: Pacifico;
}

.board-logo {
  font-family: Pacifico;
}

.btn-login,
.btn-signup {
  font-weight: bold;
}

.btn-login {
  background: #a18a75;
}

.btn-login:hover {
  background: white;
  color: #a18a75;
}

.btn-login:focus {
  background: white;
  color: #a18a75;
}

.btn-signup:hover {
  color: #a18a75;
}

.user-name {
  font-weight: bold;
}

.user-drop-item {
  color: #2f2e41;
}

.user-drop-item:hover {
  background: #a18a75;
  color: #fff;
  font-weight: bold;
}

.user-drop {
  background: #fffcf9;
}

@media (min-width: 576px) {
  .position-sm-rel {
    position: relative !important;
  }
}

/* Banner */

.jumbotron {
  background: #fff6ed;
  color: #2f2e41;
}

.banner-img {
  background: url(/images/banner-img.svg);
}

.banner p {
  margin: 1rem 0 2.5rem;
}

.banner h2 {
  margin: 0;
  font-size: 2.5rem;
}

/* CTA Bar */
.ctaBar {
  background: #fff6ed;
}

.cta-button {
  background: rgb(82, 145, 163);
  font-weight: bold;
  color: white;
}

.cta-button:hover {
  background: #2f2e41;
  color: white;
}

.cta-button:active,
.cta-button:focus {
  box-shadow: 0 3px 0 0 #2f2e41;
}

.cta-form {
  border-color: #5290a1;
}

.cta-form:focus {
  box-shadow: 0 3px 0 0 #5290a1;
  border-color: #5290a1;
}

/* Board Menu */
/* .menu-bg {
  background: #fff6ed;
}

.menu-item {
  color: #2f2e41 !important;
  font-weight: bold;
} */

/* Features */
.features {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #2f2e41;
}

.features p {
  margin-top: 1rem;
}

.feature1 {
  background: #edd8c4;
}

.feature2 {
  background: #fffcf9;
}

.feature3 {
  background: #fff6ed;
}

/* Task Board */
/* .board-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  position: relative;
  transition: margin 0.1s ease-in;
} */

.board-canvas {
  position: relative;
  flex-grow: 1;
  white-space: nowrap;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.board-canvas p {
  font-size: 1rem;
  margin: 0;
}

/* Task List */
.list-bg {
  background: #edd8c4;
  color: #2f2e41;
}

.list-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #a18a75;
}

.list-wrapper {
  width: 272px;
  margin: 25px 10px 25px 20px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list-canvas {
  background-color: #fff6ed;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.drop-loc {
  height: 20px;
}

.add-task {
  color: #a18a75;
  cursor: pointer;
}

.add-task:hover {
  color: #5290a1;
}

/* Task Card */

.task-card h6 {
  color: #2f2e41;
  font-weight: bold;
}

.task-card p {
  color: #2f2e41;
  font-size: 0.8rem;
  margin: 0;
}

.card-member-img {
  width: 25px;
}

/* Modal Form */
.modal-body {
  padding-top: 0;
  font-size: 1rem;
}

.modal-body textarea {
  resize: none;
}

.modal-body .form-group {
  margin: 0;
}

.modal-body .form-margin {
  margin: 1rem 0;
}

/* Modal Form - Checklist */
.checklist {
  margin: 0 1rem;
}

<<<<<<< HEAD
.input-group-text{
  background-color: white;
  border: none;
}

.checkbox-container {
  margin: 0rem 3rem ;

}
||||||| cdc77d6
ul {
  list-style: none;
}
=======
ul {
  list-style: none;
}
>>>>>>> a929f12c26ae3dc6162c3ace292237698a7f9e6a
